body{

    font-size: 20px;
    margin:auto;
    width: 1200px;
    
}

.hero{
    background-color: aquamarine;
    background-image: url(img/pattern.png);
    height: 180px;
    background-repeat: repeat;
}

.logo{
    width: 300px;
    margin-top: 80px;
}

.titolo{
    font-size: 50px;
    margin: auto;
}


.tim{
    margin-left: 5px;
}

.sott1{
    color: gray;  
    height: 90px;
    
}

.sott2{
    margin-bottom: 0px;
    font-weight: bold;

}
.sott3{
    margin-top: 1px;
    font-size: 18px;
    
}

.info{
    height: 60px;

}

.info1{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 13px;
}
.info2{
    margin-top: 0px;
    font-size: 13px;
}

table{
    border-collapse: collapse;
}

.row-head{
    background-color:blue;
    text-align: left;
    color: white;
}
.row-dark{
    background-color: aquamarine;
}
.cell-25{
    width: 25%;
}
.cell-50{
    width: 50&;
}

.monitor{
    margin-left: 6px;
}

.grafico{
    display:block;
    margin-top: 10px;
    margin-left: 6px;
}

.footer{
height: 500px;
}

.h3{
    color: gray;
}
.ft1{
    background-image: url(img/monitor.jpg);
    height: 200px;
    background-repeat: no-repeat;
    
}

.ft2{
    background-image: url(img/graph.jpg);
    height: 200px;
    background-repeat: no-repeat;
}

.p1{
    color: white;
    font-weight: bold;
   height: 50px;
    
}

.p2{
    color: white;
    font-weight: bold;
}