body{

    font-size: 20px;
    margin:auto;
    width: 1200px;
    
}

.hero{
    background-color: aquamarine;
    background-image: url(img/pattern.png);
    height: 180px;
    background-repeat: repeat-x;
}

.logo{
    width: 300px;
    margin-top: 80px;
}

.titolo{
    font-size: 50px;
    margin: auto;
}


.tim{
    margin-left: 5px;
}

.sott1{
    color: gray;  
    height: 90px;
}

.sott2{
    margin-bottom: 0px;

}
.sott3{
    margin-top: 1px;
    font-size: 18px;
    
}

.info{
    height: 60px;

}

.info1{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 13px;
}

.info2{
    font-size: 13px;
    margin-top: 0px;
}


.content-table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.content-table th
.content-table td{
    padding: 12px 15px;
} 

.content-table tbody tr{
    border-bottom: 1px solid #dddddd;
}

.monitor{
    margin-left: 6px;
}

.grafico{
    display:block;
    margin-top: 10px;
    margin-left: 6px;
}


